{%extends 'base.html'%}

{%block title%}Inicio{%endblock%}

{%block content%}

<body>
    <section>
        <div class="container_primary_index">
            <div class="cont_primary">
                <p>Cobrar tus remesas ahora es mas sencillo con</p>
                <label>TuCambio</label>
                <a href="login" target="_blank">¡Empieza ahora!</a>
            </div>
        </div>
        <div class="container_second_index">
            <div class="cont_second">
                <h1>Nosotros</h1>
                <p>Bienvenidos a Tucambio, tu opción de confianza para cambios de divisas, donde garantizamos que tus
                    operaciones financieras sean fáciles, seguras y eficaces. Desde que empezamos en [año de fundación],
                    nos hemos comprometido a brindar servicios de cambio de divisas con total transparencia y
                    profesionalidad.</p>
                <a href="quienes_somos">Saber más</a>
            </div>
        </div>
        <div class="container_three_index">
            <div class="cont_three">
                <h1>Benificios</h1>
                <div>
                    <ul>
                        <img src="../static/img/beneficios_3.png" alt="">
                        <p>Nos esforzamos por ofrecer tasas de cambio muy competitivas en el mercado. Esto significa que
                            puedes obtener una mejor conversión de tu dinero al cambiar divisas con ellos en comparación
                            con otros lugares.</p>
                    </ul>
                    <ul>
                        <img src="../static/img/beneficios_2.png" alt="">
                        <p>Nos distinguimos por ofrecer un servicio al cliente de alta calidad. Su equipo está
                            capacitado
                            para atender tus necesidades y resolver cualquier duda o inquietud que puedas tener durante
                            el proceso de cambio de moneda. </p>
                    </ul>
                    <ul>
                        <img src="../static/img/beneficios_1.png" alt="">
                        <p>Operamos bajo principios de transparencia y confianza. Cada transacción se realiza de manera
                            clara y honesta, sin costos ocultos ni sorpresas desagradables.</p>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container_four_index">
            <div class="cont_four">
                <h1>Preguntas Frecuentes</h1>
                <div>
                    <ul>
                        <label>¿Qué tipos de comisiones cobran por sus servicios de cambio de divisas o remesas?</label>
                        <p>Cobramos comisiones competitivas por nuestros servicios de cambio de divisas y remesas.</p>
                    </ul>
                    <ul>
                        <label>¿Cómo garantizan la seguridad de las transacciones financieras?</label>
                        <p>Garantizamos la seguridad de las transacciones financieras mediante protocolos y tecnologías seguras.</p>
                    </ul>
                    <ul>
                        <label>¿Cuál es su política de devoluciones y reembolsos?</label>
                        <p>Nuestra política de devoluciones y reembolsos se basa en términos y condiciones claros que puedes consultar.</p>
                    </ul>
                    <ul>
                        <label>¿Cómo puedo verificar el estado de una transferencia de dinero?</label>
                        <p>Puedes verificar el estado de una transferencia de remesas contactando a nuestro <a href="#" style="font-weight: 600; color: #000;">Servico al Cliente.</a></p>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>

{%endblock%}