{%extends 'base.html'%}

{%block title%}Inicio{%endblock%}

{%block content%}

<body>
    <section>
        <div class="container_primary_index">
            <div class="cont_primary">
                <p>Cobrar tus remesas ahora es mas sencillo con</p>
                <label>TuCambio</label>
                <a href="login" target="_blank">¡Empieza ahora!</a>
            </div>
        </div>
        <div class="container_second_index">
            <div class="cont_second">
                <h1>Nosotros</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente veritatis nisi, qui ipsa eum
                    itaque? Consequatur labore omnis eligendi mollitia non, repellendus ipsam cupiditate, similique
                    architecto, aliquam facere pariatur earum?</p>
                <a href="#">Saber más</a>
            </div>
        </div>
        <div class="container_three_index">
            <div class="cont_three">
                <h1>Benificios</h1>
                <div>
                    <ul>
                        <img src="../static/img/beneficios_img.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente veritatis nisi, qui ipsa
                            eum
                            itaque? Consequatur labore omnis eligendi mollitia non, repellendus ipsam cupiditate,
                            similique
                            architecto, aliquam facere pariatur earum?</p>
                    </ul>
                    <ul>
                        <img src="../static/img/beneficios_img.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente veritatis nisi, qui ipsa
                            eum
                            itaque? Consequatur labore omnis eligendi mollitia non, repellendus ipsam cupiditate,
                            similique
                            architecto, aliquam facere pariatur earum?</p>
                    </ul>
                    <ul>
                        <img src="../static/img/beneficios_img.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente veritatis nisi, qui ipsa
                            eum
                            itaque? Consequatur labore omnis eligendi mollitia non, repellendus ipsam cupiditate,
                            similique
                            architecto, aliquam facere pariatur earum?</p>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container_four_index">
            <div class="cont_four">
                <h1>Preguntas Frecuentes</h1>
                <div>
                    <ul>
                        <label>¿Qué tipos de comisiones cobran por sus servicios de cambio de divisas o remesas?</label>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente veritatis nisi, qui ipsa
                            eum
                            itaque? Consequatur labore omnis eligendi mollitia non, repellendus ipsam cupiditate,
                            similique
                            architecto, aliquam facere pariatur earum?</p>
                    </ul>
                    <ul>
                        <label>¿Cómo garantizan la seguridad de las transacciones financieras?</label>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente veritatis nisi, qui ipsa
                            eum
                            itaque? Consequatur labore omnis eligendi mollitia non, repellendus ipsam cupiditate,
                            similique
                            architecto, aliquam facere pariatur earum?</p>
                    </ul>
                    <ul>
                        <label>¿Cuál es su política de devoluciones y reembolsos?</label>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente veritatis nisi, qui ipsa
                            eum
                            itaque? Consequatur labore omnis eligendi mollitia non, repellendus ipsam cupiditate,
                            similique
                            architecto, aliquam facere pariatur earum?</p>
                    </ul>
                    <ul>
                        <label>¿Cómo puedo verificar el estado de una transferencia de remesas?</label>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente veritatis nisi, qui ipsa
                            eum
                            itaque? Consequatur labore omnis eligendi mollitia non, repellendus ipsam cupiditate,
                            similique
                            architecto, aliquam facere pariatur earum?</p>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>

{%endblock%}