{%extends 'base.html'%}

{%block title%}Privacidad{%endblock%}

{%block content%}

<body>
    <section>
        <div class="container_privacidad">
            <div class="cont_privacidad">
                <h1>Privacidad</h1>
                <div class="privacidad_info">
                    <p>Bienvenidos a Tucambio, tu elección de confianza para realizar cambios de divisas. Nos aseguramos
                        de que tus transacciones financieras sean sencillas, seguras y eficientes. Desde nuestro inicio
                        en [año de fundación], nos hemos dedicado a ofrecer servicios de cambio de divisas con total
                        transparencia y profesionalismo.</p>
                    <p>La finalidad de nuestra política de privacidad en Tucambio es garantizar la protección de los
                        datos personales de nuestros usuarios y clientes. Queremos informarte de manera clara y
                        transparente sobre cómo recopilamos, utilizamos, almacenamos y protegemos tus datos personales.
                    </p>
                    <p>
                        En Tucambio, nos comprometemos a gestionar tus datos de manera responsable y a utilizarlos
                        únicamente para los fines específicos para los cuales fueron recopilados, como facilitar
                        operaciones de cambio de divisas, mejorar nuestros servicios, ofrecer atención al cliente y
                        cumplir con nuestras obligaciones legales y regulatorias.
                    </p>

                    <h2>Datos que Recopilamos:</h2>

                    <p>En Tucambio, recopilamos varios tipos de datos personales para poder ofrecer nuestros servicios
                        de cambio de divisas de manera efectiva y segura. Los datos que recogemos pueden incluir, entre
                        otros:</p>
                    <label>Información de identificación: nombre, apellidos, fecha de nacimiento, documento de
                        identidad, etc.</label>
                    <label>Datos de contacto: dirección de correo electrónico, número de teléfono, dirección postal,
                        etc.</label>
                    <label>Datos de ubicación: dirección IP, ubicación geográfica aproximada, etc. (en caso de utilizar
                        nuestros servicios en línea).</label>
                    <label>Información financiera: detalles de cuentas bancarias, tarjetas de crédito/débito, historial
                        de transacciones, etc.</label>

                    <h2>Finalidad del Tratamiento de Datos en Tucambio:</h2>

                    <p>La finalidad principal del tratamiento de datos personales en Tucambio es gestionar y facilitar
                        las operaciones de cambio de divisas que nuestros usuarios y clientes realizan a través de
                        nuestra plataforma. Además, utilizamos tus datos para los siguientes propósitos:</p>

                    <label>Verificar tu identidad y validar la información proporcionada durante el registro o la
                        realización de transacciones.</label>
                    <label>Procesar y ejecutar las transacciones de cambio de divisas que solicites.</label>
                    <label>Mantener la seguridad y la integridad de nuestras operaciones, prevenir fraudes y actividades
                        ilícitas.</label>
                    <label>Mejorar y personalizar tu experiencia como usuario, ofreciendo contenidos, productos y
                        servicios adaptados a tus intereses y necesidades.</label>
                    <label>Cumplir con nuestras obligaciones legales y regulatorias, incluyendo la prevención del
                        blanqueo de capitales y la financiación del terrorismo.</label>
                    <label>Analizar el uso de nuestros servicios, realizar estudios de mercado y análisis estadísticos
                        para mejorar la calidad y la eficiencia de nuestros servicios.</label>
                </div>
            </div>
    </section>
</body>

{%endblock%}