{%extends 'base.html'%}

{%block title%}Quienes Somos{%endblock%}

{%block content%}

<body>
    <section>
        <div class="container_nosotros">
            <div class="cont_nosotros">
                <div class="nosotros_title">
                    <h1>Quienes Somos</h1>
                </div>
                <div class="nosotros_inf">
                    <div class="nosotros_text">
                        <p> Bienvenidos a Tucambio, tu casa de cambio de confianza donde hacemos que tus transacciones
                            financieras sean simples, seguras y eficientes. Desde nuestra fundación en [año de
                            fundación],
                            nos hemos dedicado a ofrecer servicios de cambio de divisas con la máxima transparencia y
                            profesionalismo. Nuestra misión es facilitar tus operaciones cambiarias, ya sea para viajes,
                            negocios o inversiones, garantizando siempre los mejores tipos de cambio y un servicio al
                            cliente excepcional.</p>
                    </div>
                    <div class="nosotros_servicios">
                        <h1>Nuestros Servicios</h1>
                        <div class="nosotros_servicios_inf" style="margin-bottom: 2em;">
                            <ul>
                                <img src="../static/img/beneficios_img.png" alt="">
                                <h1>Compra y Venta de Divisas</h1>
                            </ul>
                            <ul>
                                <img src="../static/img/transfer_international.png" alt="">
                                <h1>Transferencias Internacionales</h1>
                            </ul>
                            <ul>
                                <img src="../static/img/cheques_viajeros.png" alt="">
                                <h1>Compra y venta de cheques de viajero</h1>
                            </ul>
                            <ul>
                                <img src="../static/img/remesas_envio.png" alt="">
                                <h1>Envío de Remesas</h1>
                            </ul>
                            <ul>
                                <img src="../static/img/envio_dinero.png" alt="">
                                <h1>Envíos de dinero</h1>
                            </ul>
                        </div>

                    </div>
                    <div class="nosotros_ubicacion">

                    </div>
                </div>
            </div>
    </section>
</body>

{%endblock%}