{%extends 'base.html'%}

{%block title%}Quienes Somos{%endblock%}

{%block content%}
<style>
    body{
        background-color: #fff;
    }
</style>
<body>
    <section>
        <div class="cotainer_comentarios">
            <div class="cont_comentarios_img">
                <div class="cont_comentarios_img_title">
                    <p>"Cambiando moneda con confianza y facilidad. Descubre lo que nuestros clientes tienen que decir
                        sobre su experiencia con nosotros."</p>
                        <a href="registro">Registrate ahora</a>
                </div>
            </div>

            <div class="review" id="review">
                <h1 class="heading_review">Reseñas</h1>

                <div class="swiper review-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide box">
                            <img src="../static/img/box-1.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad dolor animi neque placeat
                            </p>
                            <h3>Andres Hernandez</h3>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                            </div>
                        </div>
                        <div class="swiper-slide box">
                            <img src="../static/img/box-2.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad dolor animi neque placeat
                            </p>
                            <h3>Ana de Armas</h3>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                            </div>
                        </div>
                        <div class="swiper-slide box">
                            <img src="../static/img/box-3.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad dolor animi neque placeat
                            </p>
                            <h3>Jose Fernandez</h3>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                            </div>
                        </div>
                        <div class="swiper-slide box">
                            <img src="../static/img/box-4.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad dolor animi neque placeat
                            </p>
                            <h3>Mia Khalifa</h3>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                            </div>
                        </div>
                        <div class="swiper-slide box">
                            <img src="../static/img/box-1.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad dolor animi neque placeat
                            </p>
                            <h3>Andres Hernandez</h3>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/js/swipper.js"></script>
</body>

{%endblock%}