{%extends 'base.html'%}

{%block title%}Reseñas{%endblock%}

{%block content%}
<style>
    body {
        background-color: #fff;
    }
</style>

<body>
    <section>
        <div class="cotainer_comentarios">
            <div class="cont_comentarios_img">
                <div class="cont_comentarios_img_title">
                    <p>"Cambiando moneda con confianza y facilidad. Descubre lo que nuestros clientes tienen que decir
                        sobre su experiencia con nosotros."</p>
                    <a href="registro">Registrate ahora</a>
                </div>
            </div>

            <div class="review" id="review">
                <h1 class="heading_review">Reseñas</h1>

                <div class="swiper review-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide box">
                            <img src="../static/img/box-1.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad dolor animi neque placeat
                            </p>
                            <h3>Andres Hernandez</h3>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                            </div>
                        </div>
                        <div class="swiper-slide box">
                            <img src="../static/img/box-2.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad dolor animi neque placeat
                            </p>
                            <h3>Ana de Armas</h3>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                            </div>
                        </div>
                        <div class="swiper-slide box">
                            <img src="../static/img/box-3.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad dolor animi neque placeat
                            </p>
                            <h3>Jose Fernandez</h3>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                            </div>
                        </div>
                        <div class="swiper-slide box">
                            <img src="../static/img/box-4.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad dolor animi neque placeat
                            </p>
                            <h3>Mia Khalifa</h3>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                            </div>
                        </div>
                        <div class="swiper-slide box">
                            <img src="../static/img/box-1.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad dolor animi neque placeat
                            </p>
                            <h3>Andres Hernandez</h3>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comentarios_text">
                <h1>Dejanos tu comentario:</h1>
                <div class="comentarios_inf">
                    <form>
                        <div class="rating">
                            <input type="number" name="rating" hidden>
                            <i class='bx bx-star star' style="--i: 0;"></i>
                            <i class='bx bx-star star' style="--i: 1;"></i>
                            <i class='bx bx-star star' style="--i: 2;"></i>
                            <i class='bx bx-star star' style="--i: 3;"></i>
                            <i class='bx bx-star star' style="--i: 4;"></i>
                        </div>
                        <textarea name="comentary" placeholder="Escribe tu comentario..." maxlength="80"
                            required></textarea>
                        <input type="submit" value="Enviar" id="comentarioBtn" disabled>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <!--JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/js/swipper.js"></script>

    <script>
        const textarea = document.querySelector("textarea");
        textarea.addEventListener("keyup", e => {
            textarea.style.height = "63px";
            let scHeight = e.target.scrollHeight;
            textarea.style.height = `${scHeight}px`;
        });

        const allStar = document.querySelectorAll('.rating .star')
        const ratingValue = document.querySelector('.rating input')

        allStar.forEach((item, idx) => {
            item.addEventListener('click', function (){
                let click = 0
                ratingValue.value = idx + 1
                console.log(ratingValue.value)

                allStar.forEach(i=> {
                    i.classList.replace('bxs-star', 'bx-star')
                    i.classList.remove('active')
                })

                for(let i=0; i<allStar.length; i++){
                    if(i <= idx){
                        allStar[i].classList.replace('bx-star', 'bxs-star')
                        allStar[i].classList.add('active')
                    }else{
                        allStar[i].style.setProperty('--i', click)
                        click++
                    }
                }
            })
        })
    </script>

</body>

{%endblock%}